
.app_title {
    text-align: center;
    color:rgb(169, 129, 255);
    font-size:60px;
    font-family: 'Antonio', sans-serif;
    border-bottom: 2px solid rgb(31, 139, 165);
}
.addBorder-card__container{
  padding:100px;
  margin-top: 30px;
  min-height: 600px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 50px;
 
  border-radius: 50px;
  background-image: linear-gradient(to right,#9abcef,#8160bd);
}
.addBorder-card {
    margin-left:50px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 20px;
    height: 180px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fec6e193;

}
.addBorder-card_icon {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_color{
    color:rgb(102, 18, 159);
}
.link_color:hover{
    color:rgba(152, 18, 159, 0.741);
}