
.addTodo_btn{
   border:none;
   background-color: transparent;
}
.plus_icon_card{
    margin-right:10px;
}
.add-todo-title_inp{

    padding:10px;
    border-radius: 5px;
    margin-bottom: 4px;
    background-color: rgba(128, 128, 128, 0.628);
}
.add-todo-title_btn{
    border:none;
    margin-right: 10px;
    color:white;
    width: 70px;
    background-color: #4e54c8;
    border-radius: 5px;
}
