.cl_title_modal .modal-content{
    background-color: #8160bd!important;
    color:white;
 
}
.cl_title_modal{

    margin-top: 120px;
}
.modal-content .form-label{
    background-color: rgb(178, 72, 216)!important;
    border-radius: 2px;
   text-align: center;
   width: inherit;
   padding: 6px;
}
.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
    color:white!important;
}
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color:white!important;
}
.btn-close{
    width: 0px!important;
    height: 0px!important;
}
.checkList_title{
    width: 300px;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    
    margin-left: 150px;
}
.checkList_body{
    background-color: #8160bd;
    padding:30px;
    border-radius: 20px;
}
.list_form input{
    margin-top:30px;
    padding: 10px;
    border-radius: 10px;

}
.cLtitle_btn{
    background-color: rgb(173, 106, 221);
    border-radius: 10px;
    border: none;
    padding:10px;
    color:white;
}
.closeTitle{
    float: right;
    font-size: 20px;
    color:white;
}
.listItem_form{
   
    width: 413px;
    padding: 10px;
  
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.listItem_form input{
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: #e6e2eb;
}
.cLitem_btn{
    border-radius: 10px;
    padding:10px;
    background-color:  rgb(173, 106, 221);
    border:none;
    color:white;    
 
}
.cLitem_form_body{
    display: flex;
    gap: 10px;
   
}

.cLtitle_btn_cont{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cardinfo_box_task_checkbox{
    display: flex;
    padding:10px;
    gap:10px;
    margin-bottom: 20px;
}
.cardinfo_box_task_checkbox input{
    width: 19px;
    
}
.cardinfo_box_task_checkbox span{
    flex: 1;
    line-height: 18px;
    font-size: 20px;
    

}
.clistItem_icons{
    font-size: 20px;
    color: rgb(173, 106, 221);
    cursor:pointer;
}

